<!DOCTYPE html>
<html>

<body class=" lime lighten-3">

  <div class="container  ">
    <div class="row">
      <div class="col-12">
        <h3 class="center">Registration numbers</h3>
      </div>
    </div>
    <div class="row">

      <form class="" action="/reg_numbers" method="post">

        <div class="col s12 ofText">
          Enter registration number:
          <input class="textInput col 12" type="text" name="text" value="" placeholder="eg. CA 465-647" pattern='[A-Z]{2,3}\s\d{3}\W\d{3}|[A-Z]{2,3}\s\d{2,3}' title="Example: CA 123-345">

          <br>
        </div>

    <br>

</div>

<div class="center">
  <button class="waves-effect waves-light btn center col s6  btnWidth" type="submit" name="add">Add</button>



  <a href="/reg_numbers/reset" class="waves-effect red darken-2 btn  center  btnWidth" type="" name="reset">Reset</a>
</div>


<br>
<br>

    <div class="row">

        <div class="">
          <div class="dropdown" name="dropdown">
            <h6 class="col s4 center">Select your Town</h6>
            <a class='dropdown-trigger btn right col s6' href='' data-target='dropdown1' enable selected>All Towns</a>

            <ul id='dropdown1' class='dropdown-content lime lighten-3' >
              <li><a href="/All">All Towns</a></li>
              <li><a href="/CA ">Cape Town</a></li>
              <li><a href="/CL">Stellenbosch</a></li>
              <li><a href="/CEY">Strand</a></li>
              <li><a href="/CJ">Paarl</a></li>
              <li><a href="/CY">Bellville</a></li>
            </ul>
          </div>
        </div>

    </div>

    </form>

    <div class="row">

      <!-- <ul class=""> -->
        {{#each regDisplay}}
          <p class="col s4 display1">{{registration_num}} </p>
        {{/each}}
      <!-- </ul> -->

    </div>

    {{#if messages.errorDisplay}}
      <div class="col 12">
        <h5 href="/flash" name="flash" class="error">{{messages.errorDisplay}}</h5>
      </div>
    {{/if}}

    {{#if messages.error2}}
      <div class="col 12">
        <h5 href="/flash" name="flash" class="error">{{messages.error2}}</h5>
      </div>
    {{/if}}
  </div>

</body>

</html>
