/* ul {
  list-style-type: circle;

} */
.display1{
  /* border-radius: 10%; */
  border: 2px solid black;
  background-color: yellow;
  padding: 0px;
  text-align: center;
  margin-left: auto;
  margin-right:  auto;

}

.error{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: red;
}
.btnWidth{
  text-align: center;
  margin-left: auto;
  margin-right:  auto;
  padding: aut
  }
